.nj{
    color:red;
}
.blog{
    background-color: rgba(215, 255, 205, 0.329);
    font-size: 25px;
    text-align: center;
    text-align: justify;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border:5px solid blue;
   border-radius: 15px;
   margin:50px auto;
   height: 400px;
   width: 85%;
   padding: 25px;
   
}
.sp{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
       
}